.breadcrumb{
    background-position: center center;
    background-size: 100%;
    .title{
        font-family: Marcellus, serif;
        text-align: center;
        font-size: 48px;
        font-weight: 400;
        color: #ffffff;
    }
}